# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\01.업무\01.개발\01.worksapce\02.PMS\00.Product\00.Nvue\n-vue_1.0.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
